{% extends "layouts/base.html" %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'assets/css/sidebar.css' %}" />
{% endblock %} {% block content %}
<section class="content py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        {% include 'components/sidebar.html' %}
      </div>
      <div class="col-md-9 col-sm-12">
        <h4>Подразделение: {% if department %}{{ department.name }}{% else %}Все{% endif %}</h4>
        {% include 'components/list.html' %}
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block scripts %}
<script src="{% static 'assets/js/sidebar.js' %}"></script>
{% endblock %}
