{% load mptt_tags %}

<nav class="sidebar card">
  <div class="card-header fw-bold fs-5">Подразделении</div>
  <ul class="nav flex-column" id="nav_accordion">
    <li class="nav-item has-submenu">
      <a class="nav-link all-link fw-bold" href="/employees/0">Все <span style="font-size: 14px"
        >({{ departments_count }})</span
      ></a>
    </li>
    {% recursetree departments %}
    <li class="nav-item has-submenu">
      {% if node.is_leaf_node %}
      <a class="nav-link" href="/employees/{{ node.id }}">{{ node.name }}</a>
      {% else %}
      <a class="nav-link" href="#"
        ><i class="bi bi-caret-right-fill"></i> {{ node.name }}</a
      >
      {% endif %} {% if not node.is_leaf_node %}
      <ul class="submenu collapse">
        <li class="nav-item has-submenu">
          <a class="nav-link fw-bold all-link" href="/employees/{{ node.id }}"
            >{{ node.name }}</a
          >
        </li>
        {{ children }}
      </ul>
      {% endif %}
    </li>
    {% endrecursetree %}
  </ul>
</nav>
